{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h2>All Messages</h2>
    <div class="message-container">
        {% for message in messages %}
        <div class="message-card">
            <div class="message-card-header">
                <h5>User ID: {{ message.customer_id }}</h5>
                <h6>User Name: {{ message.customer_name }}</h6>
            </div>
            <div class="message-card-body">
                <p>{{ message.customer_message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    const socket = io();

    socket.on('connect', function() {
        console.log('Connected to server');
    });

    socket.on('disconnect', function() {
        console.log('Disconnected from server');
    });

    // Function to display a message
    function displayMessage(data) {
        const messageContainer = document.querySelector('.message-container');
        const messageCard = document.createElement('div');
        messageCard.className = 'message-card';
        messageCard.innerHTML = `
            <div class="message-card-header">
                <h5>User ID: ${data.customer_id}</h5>
                <h6>User Name: ${data.customer_name}</h6>
            </div>
            <div class="message-card-body">
                <p>${data.customer_message}</p>
            </div>`;
        messageContainer.appendChild(messageCard);
    }

    // Socket.io event listener for new_message
    socket.on('new_message', function(data) {
        displayMessage(data);
    });
</script>

<style>
    .container {
        max-width: 8000px;
        margin: 0 auto;
        padding: 20px;
    }

    .message-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .message-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        width: calc(33.33% - 20px); /* Adjust width as needed for responsiveness */
        background-color: #fff;
    }

    .message-card-header {
        background-color: #f0f0f0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        font-size: 1.7em;
    }

    .message-card-body {
        padding: 10px;
        font-size: larger;
    }

    .message-card-header h5,
    .message-card-header h6 {
        margin: 5px 0;
    }

    .message-card-body p {
        margin: 0;
    }
</style>
{% endblock %}
